body {
  font-family: 'Open Sans', sans-serif;
  color: #7b6771;
}

a:hover {
  text-decoration: none;
  color: #7b6771;
}

.navbar {
  background: transparent;
  border: none;
  padding: 5px;
}

.navbar .icon {
  font-size: 1.5em;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus  {
  color: #ddd;
}

#intro { padding: 15% 0px 20%; background: rgba(0,0,0,.5); }

#intro .name {
  color: #fff;
  font-size: 4em;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 10px;
}

#intro .subtitle {
  color: #fff;
  font-size: 1.8em;
}

#intro hr {
  border-top: 3px solid #fff;
  margin: 1em auto;
  width: 50px;
}

#portfolio {
  padding-bottom: 5%;
  box-shadow: 0 -5px 25px rgba(0,0,0,.1);
  background: #fff;
}

#portfolio .profile-pic {
  margin-top: -70px;
}

#portfolio .profile-pic img {
  height: 150px;
  widows: auto;
  border: 5px solid #fff;
  box-shadow: 0 2px 0px #c2c2c2;
}

#portfolio .title-header {
  margin-top: 5%;
}

#portfolio .title-header h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}

#portfolio .title-header h3 {
  font-size: 1.4em;
  color: #c2c2c2;
  margin-top: 5px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e0e0e0;
}

#portfolio .portfolio-options {
  margin-top: 20px;
  margin-bottom: 30px;
}

#portfolio .square {
  cursor: pointer;
  margin-top: .5%;
  margin-bottom: .5%;
  padding-right: .5%;
  padding-left: .5%;

  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s;
}

#portfolio .square:hover {
  cursor: pointer;
  -webkit-transform: scale(1.03, 1.03);
  -ms-transform: scale(1.03, 1.03);
  transform: scale(1.03, 1.03);
  transition-duration: 0.1s;
  -webkit-transition-duration: 0.1s; /* Safari */
  z-index: 1;
}

#portfolio .portfolio-item {
  border-radius: 5px;
  color: #fff;
  background: #000;
  padding: 20%;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#portfolio .portfolio-item h1 {
  padding-top: 10px;
  margin: 0px;
  background: rgba(0,0,0,.4);
  font-size: 1.5em;
}

#portfolio .portfolio-item h3 {
  margin: 0px;
  padding-top: 8px;
  padding-bottom: 10px;
  background: rgba(0,0,0,.4);
  font-size: 1.2em;
  margin-bottom: 15px;
}

#portfolio .portfolio-item h5 a {
  color: #fff;
  text-decoration: underline;
}

#portfolio .portfolio-item h5 a:hover {
  color: #c2c2c2;
}

#skills {
  background:#f0f0f0;
  color: #555;
  padding: 55px 0px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

#skills ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: inline;
}

#skills .logos {
  display: inline;
  margin-right: 50px;
}

#skills img {
  height: 40px;
  width: auto;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

#skills img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

#experience {
  background: #fff;
  padding-top: 5%;
  padding-bottom: 5%;
}

#experience .title-header {

}

#experience .title-header h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}

#experience .title-header h3 {
  font-size: 1.4em;
  color: #c2c2c2;
  margin-top: 5px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e0e0e0;
}

#ad {
  background: #000;
  padding: 55px 0px;
}

#ad h1 {
  color: #fff;
  margin-bottom: 3%;
}

#ad button {
  color: #777;
  font-size: 1.5em;
  background: rgba(0,0,0,0);
  border: 1px solid #777;
  border-radius: 3px;
  padding: 15px 20px;
}

#ad button:hover {
  color: #fff;
  border: 1px solid #fff;
}

#ad a {
  color: #777;
}

#ad a:hover {
  color: #fff;
  text-decoration: none;
}

#blog {
  background: #fff;
}

#blog .title-header {
  margin-top: 5%;
}

#blog .title-header h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}

#blog .title-header h3 {
  font-size: 1.4em;
  color: #c2c2c2;
  margin-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

#blog p {
  margin-bottom: 15px;
}

#blog .tag {
  background: #337ab7;
  padding: 2px 5px;
  margin-right: 3px;
  margin-bottom: 5px !important;
  border-radius: 5px;
  font-size: .9em;
  cursor: pointer;
}

#blog .fa-circle {
  color: #fff;
  font-size: .55em;
  margin-right: 2px;
}

#blog .tag a {
  color: #fff;
}

#contact {
  background: #fff;
  padding-bottom: 4%;
}

#contact .title-header {
  margin-top: 5%;
}

#contact .title-header h1 {
  font-size: 2.5em;
  margin-bottom: 0;
}

#contact .title-header h3 {
  font-size: 1.4em;
  color: #c2c2c2;
  margin-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e0e0e0;
}

#contact input {
  box-shadow: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ddd;
}

#contact textarea {
  box-shadow: none;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #ddd;
}

#contact button {
  background: transparent;
  border: 1px solid #7b6771;
  color: #7b6771;
}

#contact button:hover {
  background: #7b6771;
  color: #fff;
}

@media(max-width: 700px) {
  .navbar {
    background: #fff;
    border: 1px solid #ddd;
  }
  #blog .tag {
    display: none;
  }
  #skills {
    display: none;
  }
}
